<h1>Lista de todas as transações<h1>

<% if !@transactions.empty? %>
  <table>
    <thead>
      <tr>
        <td>Tipo</td>
        <td>Data da transação</td>
        <td>Valor</td>
        <td>CPF</td>
        <td>Cartão</td>
        <td>Dono da loja</td>
        <td>Nome da loja</td>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |t| %>
        <tr>
          <td><%= t.transaction_type %><td>
          <td><%= t.transacted_at %><td>
          <td><%= t.amount %><td>
          <td><%= t.cpf %><td>
          <td><%= t.credit_card %><td>
          <td><%= t.store_owner %><td>
          <td><%= t.store_name %><td>
        <tr>  
      <% end %>
    </tbody>
    <tfooter>
      <tr>
        <td colspan="7"><strong>TOTAL: <%= @transactions.inject(0) {|sum, t| sum + t.amount } %></strong></td>
      </tr>
  </table>
<% end %>
